@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --accent-color: #a5c7cf;
    --border-color: black;
    --highlight-color: red;
    font-family: "DotGothic16", serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.highlight {
    color: var(--highlight-color) !important;
}
