.header {
  background-color: var(--accent-color);

  .header__nav {
    padding: 0 5px;

    @media (min-width: 600px) {
      display: flex;
      align-items: center;
    }

    .header__logo {
      font-size: 3.5rem;
      text-align: center;
      font-weight: bold;
      color: var(--text-color);
      text-transform: uppercase;
    }

    .header__menu {
      display: flex;
      flex-direction: column;

      @media (min-width: 600px) {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
      }

      .menu__item {
        color: var(--text-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .header__banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header__title {
      font-size: 3.5rem;
      text-align: center;
      font-weight: bold;
      color: var(--accent-color);
      text-transform: uppercase;
    }
  }
}
